doctype html
html
   head
      link(rel="stylesheet", href="../css/style.css")
      title #{data.title}
   body
      include ./header
      main.film
         p.greetings#people Aqui tienes el resultado de tu pelicula
         section.flex_section
            img.film-img(src=data.img)
            article.film-info
               span.film-title  #{data.title}
               span.film-director #{data.director}
               span.film-year #{data.year}
            section.film-actors #{data.actors} 

            
      include ./footer
      script(src="../js/script.js")
